@{
    ViewData["Title"] = "Home Page";
}

    <form action="../Person/GetPersonbyId" method="post">
        <input type="number" name="id" placeholder="Search by ID" />

        <input type="submit"  value="Search Characters" />
    </form>

    <form action="../Planets/GetPlanetsbyId" method="post">
        <input type="number" name="id" placeholder="Search by ID" />

        <input type="submit" value="Search Planets" />
    </form>