@{
    ViewData["Title"] = "Home Page";
}

@model DropDownSearch
    <form action="../Person/GetPersonbyId" method="post">
        <select name="id">
            @{
                int i = 1;
             }

            @foreach (PersonListItem person in Model.Person.results)
            {

                <option value="@i">@person.name</option>
               
                   i++;
               
            }
        </select>

        <input type="submit" value="Search Characters" />
    </form>



    <form action="../Planets/GetPlanetsbyId" method="post">
        <select name="id">
            @{
                int j = 1;
            }
            @foreach (PlanetListItem planet in Model.Planet.results)
            {
                <option value="@j">@planet.name</option>
                j++;
            }
        </select>
        
        <input type="submit" value="Search Planets" />
    </form>




    @*<form action="../Planets/GetPlanetsbyId" method="post">
        <input type="number" name="id" placeholder="Search by ID" />

        <input type="submit" value="Search Planets" />
    </form>*@